@import "tailwindcss";


.cloud{
    animation: cloudMove 2s alternate infinite;
}

@keyframes cloudMove {
    0% {
        opacity: 1;
        transform: translateX(0);
    }
    /* 70% {
        transform: translateX(-100%);
        opacity: 0.5;
    } */
    100% {
        opacity: 0;
        transform: translateX(-150%);

    } 
}

.cloud2{
    animation: cloudMove2 2s alternate infinite;
}
@keyframes cloudMove2 {
    0% {
        /* opacity:  */
        transform: translateX(0);
    }
    /* 70% {
        transform: translateX(-100%);
        opacity: 0.5;
    } */
    100% {
        /* opacity: 0; */
        transform: translateX(-150%);

    } 
}
/* Create a right‑high, left‑low slanted shape */
.clip-slant {
  clip-path: polygon(0% 30%, 100% 0%, 100% 100%, 0% 100%);
}

.clip-full {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}
    
@keyframes fade-in-up {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in-up {
  animation: fade-in-up 0.3s ease-out;
}
.bulb-blink {
    animation: Bulb 3s ease-in infinite;
}

@keyframes Bulb {
   from {
    filter: brightness(1);
   }
   to{
    filter: brightness(1.5);
   }
}

.move-left-right{
    animation: left-right 2s ease-in alternate infinite;
}

@keyframes left-right{
    from  {
        transform: translateX(0);
    }
    to {
        transform: translateX(-20px);
    }
}
.move-upward {
    animation: Upward 2s ease-in alternate infinite;
}
@keyframes Upward {
    from{
        transform: translateY(0);
    }
    to{
        transform: translateY(30px);
    }
}



.rotate-block {
  animation: rotate 6s linear infinite;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* .rotating {
    animation: Rotate 5s linear infinite;
}

@keyframes Rotate{
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
} */




.blink {
    animation: Blink_Keyboard 2s ease-in infinite;

}
@keyframes Blink_Keyboard {
    from{
        filter: brightness(0.5);
    }
    to{
        filter: brightness(1);
    }
}


.lid {
    animation: Lid 3s linear;
}
@keyframes Lid {
    from{
        transform: rotatex(0deg);
    }
    to{
        transform: rotatex(36deg);
    }
}

.bounce{
    animation: Bounce 4s linear  infinite;
}
@keyframes Bounce {
  0%, 100% {
    transform: translateY(0); /* Starting and ending at the bottom */
    /* Speeds up as it falls (ease-in) */
    /* animation-timing-function: cubic-bezier(0.8, 0, 1, 1);  */
  }
  50% {
    transform: translateY(-40px); /* The highest point of the bounce */
    /* Slows down as it reaches the top (ease-out) */
    /* animation-timing-function: cubic-bezier(0, 0, 0.2, 1);  */
  }
}
.bounce2{
    animation: Bounce2 4s linear  infinite;
}
@keyframes Bounce2 {
  0%, 100% {
    transform: translateY(-40px); /* Starting and ending at the bottom */
    /* Speeds up as it falls (ease-in) */
    /* animation-timing-function: cubic-bezier(0.8, 0, 1, 1);  */
  }
  50% {
    transform: translateY(0px); /* The highest point of the bounce */
    /* Slows down as it reaches the top (ease-out) */
    /* animation-timing-function: cubic-bezier(0, 0, 0.2, 1);  */
  }
}

.man_bounce{
    animation: man_Bounce 3s linear alternate infinite;
}
@keyframes man_Bounce {
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(-50px);
    }
}

.rotate {
    animation: Rotate 2s  alternate infinite;

}
@keyframes Rotate {
    from{
        transform: rotate(360deg);
    }
    to{
          transform: rotate(0deg);
    }
}

.left_move{
    animation: Move_left 2s alternate infinite;
}
@keyframes Move_left {
    from {
        transform: translateX(-50px);
    }
    to{
         transform: translateX(40px);
    }
}

.move_right {
  animation: moveRight 3s  linear infinite alternate;
}
@keyframes moveRight {
  0% {
    transform: translate(0, 0);
    opacity: 1;
  }

  100% {
    transform: translate(-45px, -45px);
    opacity: 0;
  }
}

.up{
    animation: Up 1.5s linear infinite alternate;
}

@keyframes Up {
    from{
        transform: translatey(-40px);
    }
    to{
        transform: translatey(10px);
    }
}


::-webkit-scrollbar-track{
    background-color: #FCFCFC;
      border-radius: 10px;
    margin: 20px 0;
}
::-webkit-scrollbar-thumb {
    background-color: #636363;
    border-radius: 10px;
    border: 3px solid #FCFCFC; 
} 
