@import "tailwindcss";


.cloud{
    animation: cloudMove 2s alternate infinite;
}

@keyframes cloudMove {
    0% {
        opacity: 1;
        transform: translateX(0);
    }
    /* 70% {
        transform: translateX(-100%);
        opacity: 0.5;
    } */
    100% {
        opacity: 0;
        transform: translateX(-150%);

    } 
}

.cloud2{
    animation: cloudMove2 2s alternate infinite;
}
@keyframes cloudMove2 {
    0% {
        /* opacity:  */
        transform: translateX(0);
    }
    /* 70% {
        transform: translateX(-100%);
        opacity: 0.5;
    } */
    100% {
        /* opacity: 0; */
        transform: translateX(-150%);

    } 
}
/* Create a right‑high, left‑low slanted shape */
.clip-slant {
  clip-path: polygon(0% 30%, 100% 0%, 100% 100%, 0% 100%);
}

    

.bulb-blink {
    animation: Bulb 2s linear infinite;
}

@keyframes Bulb {
   from {
    filter: brightness(10px);
   }
   to{
    filter: brightness(20px);
   }
}

.move-left-right{
    animation: left-right 2s ease-in alternate infinite;
}

@keyframes left-right{
    from  {
        transform: translateX(0);
    }
    to {
        transform: translateX(-20px);
    }
}
.move-upward {
    animation: Upward 2s ease-in alternate infinite;
}
@keyframes Upward {
    from{
        transform: translateY(0);
    }
    to{
        transform: translateY(30px);
    }
}